/* Put styles here.*/
body{
  margin: 0;
  padding: 0;
}
 h1{
  font-family: 'pacifico';
  font-size: 80px;
  text-align: center;
  border-bottom: 1px solid black;
}
.nav ul{
  font-family: 'pacifico';
  list-style: none;
  font-size: 25 px;
  text-align: center;
}
.nav li {
    display: inline-block;
    line-height: 40px;
    height: 40px;
    border-botton: 1px solid black
}

.nav a{
  font-size: 40px;
  color: purple;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid black;
}

.nav a:hover{
  color: black;
}

.nav a.active{
  cursor: default;
}

.pic{
  float: left;
  margin: 10px;
  padding: 10px;
}
